body{
	margin: 0;
	padding: 0;
}
.wrap{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: lightpink;
    border: 5px solid #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  overflow: hidden;
	position: absolute;
	z-index: 23;
	transform: translateY(10vw) translateX(45vw);
}

.retort_wrapper{
    position: relative;
		z-index: 23;
}
.glass_retort{
    width: 20px;
    height: 40px;
    background-color: #fff;
			z-index: 23;
}

.retort_entry{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
   transform: translateY(-12px) translateX(-6.8px);
	 	z-index: 23;
}
.liquid{
    width: 35px;
    height: 19px;
    background-color: lightblue;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    z-index: 3;
    position: absolute;
    transform: translateX(-6.5px) translateY(6px);
			z-index: 23;
}
.drop{
    width: 10px;
    height: 10px;
    background-color: lightblue;
    z-index: 4;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-40px) translateX(5px);
    opacity: 0;
			z-index: 23;
}

.curtain{
	width: 1440px;
	height: 880px;
	position: absolute;
	background-color: #e9ef9a;
	z-index: 20;
}

.block_wrapper{
	display: flex;
	flex-wrap: wrap;
}
/* БЛОКИ И ИХ СТИЛИ*/
.block{
	width: 14.1395vw;
	height: 14.1395vw;
}

.one{
	background-color: #f9f4ff;
	border: 1px solid #666;
}

.two{
	background-color: #f9f4ff;
	border: 1px solid #666;
	z-index: 1;
}

.three,
.four,
.five,
.six,
.seven{
	background-color: #fcca2a;
	border: 1px solid #fff;
}

.first_line_four,
.fourth_line_three,
.fourth_line_four,
.fourth_line_five{
	background-color: #221712;
	border: 1px solid #666;
	z-index: 1;
}

.third_line_four,.fourth_line_six{
	z-index: 1;
	background-color: #fcca2a;
	border: 1px solid #fff;
}

.fourth_line_three,
.fourth_line_two,
.fourth_line_four
{
	z-index: 1;
}
.fourth_line_one, .fourth_line_two{
	background-color: #fcca2a;
	border: 1px solid #fff;
}

/*ВЕРХНЯЯ ЛИНИЯ*/
.bubble{
	position: absolute;
	z-index: 3;
	left: 25%;
}

.bubbles-wrapper {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
	position: absolute;
	z-index: 5;
}

.line{
	height: 60px;
	background-color: #221712;
	width: 100%;
}

.block_blackline{
	width: 60px;
	height: 480px;
	background-color:#221712;
	position: absolute;
	z-index: 1;
}
/*БУКВЫ БРЕНДА*/
.letter{
	position: relative;
}
.letters:nth-child(odd){
	color: #221712;
}

.letters:nth-child(even){
	color:rgba(0, 0, 0, 0.2);
}

.letter_k,
.letter_l,
.letter_b,
.letter_a{
	position: absolute;
	z-index: 2;
	font-family: 'Helvetica', sans-serif;
	font-size: 39.8vw;
	text-transform: uppercase;
	transform: translateY(-8vw) translateX(-17.8vw);
}

.letter_o{
	position: absolute;
	z-index: 2;
	font-family: 'Helvetica', sans-serif;
	font-size: 38vw;
	text-transform: uppercase;
	transform: translateY(-7vw) translateX(-15vw);
}

.letter_l,
.letter_b,
.letter_a{
	opacity: 0;
	margin-left: 62px;
	font-size: 39.1vw;
	margin-top: 7px;
}

.letter_b, .letter_l{
		font-size: 40vw;
		margin-top: 0;
}

/*hidden books*/
.war{
	transform: translateY(-12.3vw) translateX(1.6vw);
	visibility: hidden;
}

.story{
	transform: translateX(1.6vw) translateY(0.4vw);
	position: absolute;
	visibility: hidden;
}
.silent{
	position: absolute;
	transform: translateY(0.5vw) translateX(1.7vw);
	visibility: hidden;
}
.bird{
	transform: translateY(0.5vw) translateX(1.5vw);
	position: absolute;
	visibility: hidden;
}

.lady{
transform: translateX(1.2vw) translateY(0.4vw);
position: absolute;
visibility: hidden;
}

.drak{
	transform: translateY(0.6vw) translateX(1.7vw);
	position: absolute;
	visibility: hidden;
}

.shine{
	position: absolute;
	transform: translateY(0.2vw) translateX(1.7vw);
	visibility: hidden;
}

.numb{
	transform: translateY(0.6vw) translateX(1.6vw);
	position: absolute;
 visibility: hidden;
}

/*КАРТИНКИ*/
.retort{
	text-align: center;
	margin-top: 0.5vw;
	z-index: 1;
}

.img_books{
	margin-top: 6.8vw;
	text-align: center;
}

.img_retort1{
	position: absolute;
	left: 26%;
	top: 30%;
}

.img_retort2{
	position: absolute;
	left: 55%;
	top: 50%;
}

.six img{
	z-index: 100;
}

.book{
	width: 11vw;
	height: 13vw;
	margin: 0 auto;
	transform: translateY(5%);
}

span{
	font-family: 'Helvetica', sans-serif;
	position: absolute;
	font-weight: bold;
}

.harry_potter{
	background-color: #eb3c1c;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
	z-index: 1;
}

.cover_wrapper{
	display:flex;
	position: relative;
}

.harry_potter_series1{
	background-color: #93cbb6;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	opacity: 0;
	transform: translateX(25px) translateY(10px);
}

.harry_potter_series2{
	background-color: #8955ff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	opacity: 0;
	transform: translateX(25px) translateY(10px);
}

.harry_potter_series3{
 background-color: #ff5c35;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 position: absolute;
 opacity: 0;
 transform: translateX(25px) translateY(10px);
}

.harry_potter_series4{
	background-color: #8a006c;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	opacity: 0;
	transform: translateX(25px) translateY(10px);
}

.harry_potter_series5{
	background-color: #340074;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	opacity: 0;
	transform: translateX(25px) translateY(10px);
}

.harry_potter span{
	font-size: 1.7vw;
	bottom: 7%;
	left: 5%;
	color: #fff;
}

.harry_face{
	width: 6.5vw;
	background-color: #ffe5b4;
	height: 10.5vw;
	border-radius: 10% 0 0 10%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.harry_glass{
	border-radius: 50%;
	width: 4vw;
	height: 4vw;
	border: 1px solid #8a1300;
	transform: translateY(-10%);
}

.harry_glass hr{
	border: 1px solid #8a1300;
	width: 2.3vw;
	position: absolute;
	top: 30%;
	right: 100%;
}

.dostoev{
	background-color: #eb3c1c;
	display: flex;
	align-items: center;
	position: relative;
}

.brown_line{
	width: 100%;
	background-color: #4f0000;
	height: 1vw;
	position: absolute;
	top: 41%;

}

.dostoev span{
	color:#fff;
	transform: rotate(-90deg) translateY(470%);
	font-size: 0.8vw;
	z-index: 1;
}

.chess{
	background-color: #2887c8;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.chess_name{
	height: 45%;
}

.chess_name span{
	font-size: 1.4vw;
	color: #fff;
	margin-left: 1.5%;
}
.chess_block{
	background-color: #2887c8;
	width: 3.665vw;
	height: 3.665vw;
}

.chess_block:nth-child(even){
	background-color: #9ff0ff;
}

.far_451{
	background-color: #7070cc;
}

.far_451 img{
	transform: translateY(30%) translateX(10%);
}

.white_princess{
	background-color: #eb3c1c;
	overflow: hidden;
	position: relative;
}

.white_princess span{
	color: #fff;
	font-size: 1.2vw;
	margin-left: 0.5vw;
}
.apple{
	background-color: #8fd8d8;
	border-radius: 50%;
	width: 6.5vw;
	height: 6.5vw;
	position: absolute;
	bottom: -7%;
	left: -10%;
}

.apple_piece{
	width: 0;
	height: 0;
	border-left: 1.2vw solid transparent;
	border-right: 1.2vw solid transparent;
	border-bottom: 2.4vw solid #aa6400;
	transform: rotate(230deg) translateX(-90%) translateY(150%);
}

.master{
	background-color: #eb3c1c;
	position: relative;
}

.master span{
	font-size: 1.112vw;
	color: #fff;
	transform: translateY(-20%);
}

.cube{
	width: 6.5vw;
	height: 6.5vw;
	border-radius: 10%;
}

.master_first{
	background-color: rgba(255, 255, 255, .5);
	transform: translateY(15%);
}

.master_second{
	background-color: rgba(252, 255, 244, .3);
	transform: translateX(70%);
}

.da_vinci{
	background-color: #8c90c8;
	display: flex;
	justify-content: center;
}

.hidden_x{
	font-family: 'Helvetica', sans-serif;
	font-size: 1.5vw;
	text-align: center;
	margin-top: 50%;
	opacity: 0;
}

.da_vinci span{
	font-size: 1.5vw;
	color: #fff;
}
.da_vinci_wrapper{
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.da_vinci_block{
	width: 2vw;
	height: 3vw;
	background-color: #ffeac9;
	border-radius: 10%;
}

.player{
	background-color: #8fd8d8;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
}

.player span{
	position: absolute;
	top: -7%;
	right: 5%;
	font-size: 3.5vw;
	color: #eb3c1c;
}

.plus_one{
	background-color: #2887c8;
	position: relative;
}

.plus_one span{
	font-size: 8vw;
	color: #ff3b36;
	position: absolute;
	left: 20%;
}

.plus_one img{
	position: absolute;
	right: 25%;
	bottom: 5%;
}

.wheel_img img{
	transform: translateX(40%) translateY(13vw);
	transform-origin: 50% 50%;
}

.hidden_heart{
	transform: translateY(-170%) translateX(30%);
	opacity: 0;
}

@media (min-width: 1680px) {
	.curtain{
		height: 882px;
	}

	.block_wrapper{
		overflow: hidden;
	}
  .block{
    width: 14.165vw;
    height: 15vw;
  }

  .letter_k,
  .letter_l,
  .letter_b,
  .letter_a{
    font-size: 42vw;
		transform: translateY(-8.6vw) translateX(-17.4vw)
  }

  .letter_o{
    font-size: 40vw;
  }

  .chess_name{
    height: 42%;
  }

  .chess_block{
    width: 4vw;
    height: 4vw;
  }

  .white_princess span{
    font-size: 1.8vw;
    margin-left: 0,5vw;
  }

  .apple{
    width: 7.5vw;
    height: 7.5vw;
  }

  .cube{
    width: 7vw;
    height: 7vw;
  }

  .da_vinci span{
    font-size: 1.58vw;
  }

  .da_vinci_block{
    width: 2.5vw;
    height: 4vw;
  }

  .player span{
    right: 3%;
    font-size: 3.96vw;
  }

  .plus_one span{
    left: 17%;
  }

  .img_books{
    margin-top: 8.5vw;
  }

  .retort{
    margin-top: 1vw
  }

  .book{
    width: 12vw;
    height: 14vw;
  }

  .harry_glass{
    translateX(-2%);
  }

  .chess span{
    font-size: 1.5vw;
  }

	.retort2{
		width: 450vw;
	}

	.retort3{
		width: 400vw;
		transform: translateX(6vw);
	}

	.lineblock_first img{
		width: 14.3vw;
		height: 15vw;
	}

	.first_line img{
		width: 14.3vw;
	}
	.img_retort1, .img_retort2{
		transform: scale(.8);
	}
}

@media (max-width: 1440px){
	.curtain{
		height: 682px;
	}

	.block_wrapper{
		overflow: hidden;
	}
.letter_o{
	top: 21%
	left: 0.5%;
}

.retort{
	transform: scale(.9);
}
.img_retort1, .img_retort2{
	transform: scale(.8);
}
}

@media (max-width: 1388px){
	.curtain{
		height: 880px;
	}

	.block_wrapper{
		overflow: hidden;
	}
	.letter_o{
		transform: translateY(-7vw) translateX(-15vw);
	}
}
@media (max-width: 1366px){
	.curtain{
		height: 1000px;
	}

	.block_wrapper{
		overflow: hidden;
	}
	.letter_o{
		transform: translateY(-10vw)
translateX(-15vw);}
.img_retort1, .img_retort2{
	transform: scale(.8);
}
}

@media (max-width: 1280px){
	.curtain{
		width: 1270px;
		height: 800px;
	}

	.block_wrapper{
		overflow: hidden;
	}

	.bubble, .bubbles-wrapper{
		display: none;
	}

	.block{
		width: 14.125vw;
		height: 14.125vw;
	}
	.letter_o{
		transform: translateY(-7vw) translateX(-15vw);
	}
	.img_books{
		transform: translateY(-0.6vw) scale(.9)
	}
	.lineblock_first img{
		transform: scale(.9) translateX(-1.1vw) translateY(-1vw)}
		.retort{
			transform: translateY(-1vw) scale(.8)
		}
		.book{
			width: 12vw;
			height: 13.5vw;
		}

		.img_retort1{
			transform: scale(.7) translateX(-3.4vw) translateY(-3.5vw);
		}

		.img_retort2{
			transform: translateY(-7vw) scale(.7);
		}

		.far_451 img{
			transform: scale(1) translateY(2vw) translateX(1vw);
		}
		.far_451 hr{
			transform: translateY(-1vw) translateX(-2.8vw);	}

			.chess_block{
				width: 50.1px;
				height: 48px
			}
			.chess span{
				font-size: 1.5vw;
			}
			.player span{
				font-size: 4vw;
				transform: translateX(0.3vw);
			}
			.harry_potter span{
				transform: scale(1.2) translateX(0.8vw);
			}
			.white_princess span{
				transform: scale(1.2) translateX(0.6vw) translateY(0.3vw);
			}
			.da_vinci span{
				transform: scale(1.15);
			}
			.plus_one img{
				transform: scale(.96) translateY(1vw);
			}
			.wheel_img{
				transform: translateX(3.6vw) translateY(33.7vw);
			}
			.plus_one span{
				transform: translateX(0.2vw);
			}

			.story, .silent, .shine, .lady, .war, .bird, .drak, .numb{
				width: 12vw;
				height: 13.5vw;
			}
}
@media (max-width: 1024px){
	.block{
		width: 24.8vw;
		height: 24.8vw;
	}

	.curtain{
		height: 800px;
	}

	.block_wrapper{
		overflow: hidden;
	}
	.letter_k,
	.letter_l,
	.letter_b,
	.letter_a{
font-size: 34.8vw;
transform: translateX(-102.8vw) translateY(-32vw);
}

.letter_o{
	font-size: 34vw;
	transform: translateY(-30.6vw) translateX(-105vw);
	top: -1.2vw;
}

.img_books{
	transform: scale(1.2) translateY(5.4vw);
}

.lineblock_first img{
	z-index: 3;
}

.first_line img{
	transform: scale(1.23) translateY(1.7vw) translateX(1.8vw)
}

.harry_potter{
	transform: translateY(0.8vw);
	z-index: 8;
}

.harry_face{
	width: 11vw;
	height: 19vw;
	border-radius: 10% 0 0 10%;
}

.harry_glass{
	width: 7vw;
	height: 7vw;
}

.harry_potter hr{
	width: 4vw;
}

.harry_potter span{
	font-size: 3vw;
	margin-left: 1vw;
}

.retort{
	transform: translateY(-97.6vw) translateX(-26vw) scale(1.2);
	z-index: 3;
}

.book{
	width: 21vw;
	height: 23.5vw;
}

.dostoev{
	transform: translateX(25vw) translateY(0.5vw);
}

.brown_line{
	width: 100%;
	background-color: #4f0000;
	height: 1vw;
	position: absolute;
	top: 41%;

}

.dostoev span{
	color:#fff;
	transform: rotate(-90deg) translateY(470%);
	font-size: 0.8vw;
	z-index: 1;
}

.dostoev span{
	font-size: 1.5vw;
	z-index: 1;
}

.chess{
	transform: translateX(-25vw) translateY(0.5vw);
}

.chess_name span{
	font-size: 2.7vw;
}

.chess_block{
	width: 7vw;
	height: 6.7vw;
}

.img_retort1, .img_retort2{
	visibility: hidden;
}

.chess_name{
	height: 40%;
}

.far_451{
	transform: translateX(50vw) translateY(-24.4vw);
}

.far_451 img{
	transform: scale(1.5) translateY(3.7vw) translateX(2.4vw);
}
.far_451 hr {
	transform: translateX(-5.8vw) translateY(5vw);
}

.white_princess{
	transform: translateX(50vw) translateY(-24.6vw)
}

.white_princess span{
	font-size: 3vw;
	transform: translateX(0.2vw);
}
.apple{
	background-color: #8fd8d8;
	border-radius: 50%;
	width: 11vw;
	height: 11vw;
}

.apple_piece{
	border-left: 3.2vw solid transparent;
	border-right: 3.2vw solid transparent;
	border-bottom: 6.4vw solid #aa6400;
}

#third_line_one,
#third_line_two{
	background-color: #221712;
	border: 1px solid #666;
}

.lineblock_first img{
	transform: scale(1.24) translateY(2vw) translateX(2vw)
}

.master span{
	font-size: 2.1vw;
}

.cube{
	width: 11.7vw;
	height: 11.7vw;
}

.da_vinci{
	transform: translateY(-24vw)
}

.hidden_x{
	font-size: 2.5vw;
}

.da_vinci span{
	font-size: 2.9vw;
	transform: translateX(-0.2vw);
}

.da_vinci_block{
	width: 3.5vw;
	height: 6vw;
}

.player{
	transform: translateX(-50vw) translateY(1vw);
}

.player img{
	transform: scale(1.2) translateX(-0.7vw) translateY(-0.9vw);
}
.player span{
	transform: translateX(0.5vw);
	font-size: 7.1vw;
}

.plus_one{
	transform: translateY(-24vw) translateX(-50vw);
}

.plus_one span{
	font-size: 15vw;
	transform: translateY(2vw) translateX(-1.2vw);
}

.plus_one img{
	transform: scale(1.2) translateY(-0.4vw) translateX(-2vw);
}

.wheel_img img{
	transform: scale(1.4) translateX(2.4vw) translateY(16vw);
}

.hidden_heart{
	transform: translateY(-170%) translateX(30%);
	opacity: 0;
}

.story,
.drak,
.silent,
.shine,
.lady,
.bird,
.numb{
	transform: translateX(1.95vw) translateY(0.8vw);
	width: 21vw;
	height: 23.5vw;
}

.war{
	position: absolute;
	bottom: 6.7%;
}
.story{
	transform: translateX(-48vw) translateY(0.7vw);
	z-index: 2;
}

.bird{
	transform: translateY(100.7vw) translateX(-48vw);
	z-index: 2;
}
.shine{
	transform: translateY(-49.5vw) translateX(2vw);
}

.drak{
	transform: translateX(-23vw) translateY(0.7vw);
}
.lady{
	transform: translateX(52vw) translateY(1vw);
	z-index: 2;
}
.silent{
	transform: translateX(-23vw) translateY(-49vw);
}

.numb{
	transform: translateX(52vw) translateY(1vw);
}

.bubbles-wrapper, .bubble{
		display: none;
	}

	.curtain{
		width: 1024px;
	}
}

@media (max-width: 768px){
	body{
		width: 768px;
	}

	.curtain{
		width: 768px;
		height: 4500px;
	}
	.block{
		width: 49.7vw;
		height: 49.7vw;
	}

	.book{
		width: 22vw;
		height: 25vw;
	}

 .letter_k,
.letter_l,
.letter_b,
.letter_a{
	font-size: 70vw;
	text-transform: uppercase;
	transform: translateY(-164.5vw) translateX(-106.4vw);
}

.letter_o{
	font-size: 67vw;
	text-transform: uppercase;
	transform: translateY(-161.5vw) translateX(-99.7vw);
}

.line{
	width: 100vw;
}

.block_blackline{
	transform: translateY(-40.2vw) translateX(49.8vw);
	height: 110vw;
}

.img_books{
	transform: scale(1.6) translateY(15vw) translateX(2.8vw);
}

.lineblock_first img{
	transform: scale(1.86) translateY(-182vw) translateX(-20.65vw);
}

.six img{
	transform: translateY(61.1vw) scale(1.84) translateX(6.1vw);
}

.retort{
	transform: scale(1.6) translateY(-243vw) translateX(-32vw);
}

.img_retort1, .img_retort2{
	display: none;
}

.harry_potter{
	transform: translateY(63vw) scale(1.9);
}

.harry_potter span{
	font-size: 3.5vw;
}

.harry_face{
	width: 11vw;
	height: 19vw;
}

.harry_glass{
	width: 6vw;
	height: 6vw;
	transform: translateX(-0.2vw);
}

.harry_potter hr{
	width: 4.6vw;
}

.harry_potter_series1,
.harry_potter_series2,
.harry_potter_series3,
.harry_potter_series4,
.harry_potter_series5{
	transform: translateY(64vw) translateX(14.3vw) scale(1.9);
}

.harry_potter_series1 img,
.harry_potter_series2 img,
.harry_potter_series3 img,
.harry_potter_series4 img,
.harry_potter_series5 img{
	transform: scale(.9) translateY(2.4vw) translateX(1.2vw);
}

.dostoev{
	transform: translateY(62.5vw) scale(1.9) translateX(26.5vw);
}
.dostoev span{
	font-size: 1.56vw;
}

.chess{
	transform: translateY(12vw) scale(1.8);
	height: 26vw;
}

.chess_block{
	width: 7.32vw;
	height: 7.32vw;
}

.chess span{
	font-size: 2.8vw;
	transform: translateY(-0.5vw);
}

.far_451{
	transform: translateY(-213vw) scale(1.9) translateX(26.6vw);
}

.far_451 img{
	transform: translateY(4.9vw) scale(1.1) translateX(1.3vw);
}

.white_princess{
	transform: scale(1.9) translateY(6.5vw);
}

.white_princess span{
	font-size: 2.5vw;
	transform: translateX(0.2vw);
}

.da_vinci{
	transform: translateY(-137.5vw) scale(1.9);
}

.da_vinci span{
	font-size: 3vw;
	transform: translateX(0.05vw);
}

.da_vinci_block{
	width: 3.8vw;
	height: 7vw;
}

.master{
	transform: scale(1.9) translateY(-7.2vw) translateX(-26vw);
}

.master_first, .master_second{
	width: 12.47vw;
	height: 12.47vw;
}

.master span{
	font-size: 2.2vw;
}
.player{
	z-index: 4;
	transform: scale(1.9) translateY(-19.7vw) translateX(27vw);
}

.player img{
	transform: scale(1);
}

.hidden_heart{
	transform: translateY(-90vw) translateX(-42vw);
}

.player span{
	font-size: 7.5vw;
	transform: translateX(0.7vw) translateY(-0.9vw);
}
.plus_one{
	transform: translateY(-237.3vw) scale(1.9);
	z-index: 3;
}

.plus_one span{
	transform: translateX(0.5vw) scale(1) translateY(2.9vw);
}

.plus_one img{
	transform: scale(.96) translateY(1.3vw);
}
.wheel_img img{
	transform:translateY(26.7vw) scale(1) translateX(6.2vw);
}

.war{
	transform: translateY(108.5vw) translateX(14vw) scale(1.6);
	z-index: 30;
	width: 34vw;
}

.story{
	transform: translateX(-37vw) translateY(-239vw) scale(1.7);
	z-index: 5;
	width: 24vw;
	height: 28.3vw;
}
.silent{
	transform: translateY(-38.7vw) translateX(13.5vw) scale(1.69);
	width: 25vw;
	height: 28.5vw;
}
.bird{
	transform: translateY(12.5vw) translateX(64.2vw) scale(1.83);
	height: 25.2vw;
}

.lady{
transform: translateX(-35.7vw) translateY(13.2vw) scale(2);
}

.drak{
	position: relative;
	bottom: 378px;
	left: 5.2%;
	width: 23vw;
	height: 26vw;
}

.shine{
	transform: translateY(-139.4vw) translateX(62.7vw) scale(1.65);
	z-index: 8;
	width: 24vw;
	height: 28vw;
}

.numb{
	top: -1910px;
	left: 6px;
	position: relative;
	width: 23vw;
	height: 26vw;
}

.block_wrapper{
	overflow: hidden;
}

.bubbles-wrapper, .bubble {
	display: none;
}
}

@media (max-width: 375px) and (min-width: 320px){
.block{
		width: 49.4vw;
		height: 49.4vw;
	}

.curtain{
	width: 375px;
	height: 2275;
}

.block_wrapper{
	overflow: hidden;
}

.wrap{
	transform: scale(.9) translateX(34vw) translateY(10vw);
}

.bubbles-wrapper, .bubble {
	display: none;
}

body{
	width: 375px;
}

.letter_k,
	.letter_l,
	.letter_b,
	.letter_a{
    position: absolute;;
    font-size: 69vw;
    left: -6%;
     top: 2%;
  }

  .letter_o{
	position: absolute;
	z-index: 2;
	font-family: 'Helvetica', sans-serif;
	font-size: 67vw;
	text-transform: uppercase;
	top: -2%;
	left: -3;
}

.block_blackline{
	width: 15px;
	height: 30vw;
	position: absolute;
}

.line{
	height: 30px;
}

.lineblock_first img{
	transform: translateY(-352vw) scale(.92) translateX(-57vw)
}

.six img{
	transform: scale(.9) translateY(52vw) translateX(-3.5vw);
}

.first_line_four{
	background-color: #fcca2a;
}

.first_line .six{
	background-color: #221712;
	border: 1px solid #666;
}

.five,
.six{
	background-color: #fcca2a;
	border: 1px solid #fff;
}

.two{
	background-color: #221712;
	border: 1px solid #666;
}
.three{
	background-color: #f9f4ff;
	border: 1px solid #666;
}

#second_line_five{
	background-color: #221712;
	border: 1px solid #666;
}

.first_line .seven{
	background-color: #221712;
	border: 1px solid #666;
}

.second_line .one{
	background-color: #221712;
	border: 1px solid #666;
}

.seven{
	background-color: #221712;
	border: 1px solid #666;
}

.third_line_four{
	background-color: #221712;
	border: 1px solid #666;
}
.img_books{
	transform: translateY(-132px) scale(.9);
	text-align: center;
}

.img_retort1{
	display: none;
}
.img_retort2{
	display: none;
}

.retort{
	position: absolute;
}

.retort img{
	transform: scale(.56) translateX(126vw) translateY(-69vw);
}

.book{
	width: 39vw;
	height: 48vw;
	margin: 0 auto;
	transform: translateY(1.9%);
}

.harry_potter{
	transform: translateY(-49vw) translateX(50vw);
}

.harry_potter span{
	font-size: 7vw;
	bottom: 7%;
	left: 5%;
}

.harry_face{
	width: 20vw;
	height: 40vw;
}

.harry_glass{
	width: 12vw;
	height: 12vw;
	transform: translateY(-10%);
}

.harry_glass hr{
	width: 7.5vw;
	position: absolute;
	top: 30%;
	right: 100%;
}

.dostoev{
	transform: translateY(-48.5vw) translateX(-0.5vw);
}

.brown_line{
	width: 100%;
	height: 3vw;
	top: 41%;
}

.dostoev span{
	transform: rotate(-90deg) translateY(470%);
	font-size: 2.8vw;
	z-index: 1;
}

.chess{
	transform: translateY(150.6vw);
}

.chess_name span{
	font-size: 1.8vw;
	margin-left: 1.5%;
}
.chess_block{
	width: 3.665vw;
	height: 3.665vw;
}

.chess_block:nth-child(even){
	background-color: #9ff0ff;
}

.far_451{
	transform: translateY(-26.1vw)
}

.far_451 img{
	transform: translateY(30%) translateX(10%);
}

.far_451 hr {
	height: 10px;
	width: 0.1px;
	background-color: #f2f2f2;
	transform: translateX(-2.7vw) translateY(1.2vw);
}

.white_princess{
	transform: translateY(-49.3vw) translateX(-49.6vw);
}

.white_princess span{
	color: #fff;
	font-size: 5vw;
	margin-left: 0.5vw;
}
.apple{
	background-color: #8fd8d8;
	border-radius: 50%;
	width: 26vw;
	height: 26vw;
	position: absolute;
	bottom: -7%;
	left: -10%;
}

.apple_piece{
	width: 0;
	height: 0;
	border-left: 4.2vw solid transparent;
	border-right: 4.2vw solid transparent;
	border-bottom: 8.4vw solid #aa6400;
}

#second_line_three{
	background-color: #fcca2a;
	border: 1px solid #fff;
}

.da_vinci{
	background-color: #8c90c8;
	display: flex;
	justify-content: center;
	transform: translateY(-249.5vw)
}

.hidden_x{
	font-family: 'Helvetica', sans-serif;
	font-size: 4.5vw;
	text-align: center;
	margin-top: 50%;
	opacity: 0;
}

.da_vinci{
	transform: translateY(-298.7vw) translateX(50vw);
}

.da_vinci span{
	font-size:5vw;
}

.da_vinci_block{
	width: 7vw;
	height: 12vw;
	border-radius: 10%;
}

.chess_name{
	height: 45%;
}

.chess_name span{
	font-size:5vw;
}
.chess_block{
	width: 12.98vw;
	height: 12.97vw;
}

#third_line_one{
	background-color: #221712;
	border: 1px solid #666;
}

.far_451{
	transform: translateY(1vw);
}
.far_451 img{
	transform: translateY(22%) scale(1) translateX(8%);
}

.far_451 hr {
	height: 10px;
	width: 0.1px;
	transform: translateX(-2.7vw) translateY(1.2vw);
}

.player{
	transform: translateY(-149.4vw)
}

.player span{
	position: absolute;
	top: -7%;
	font-size: 12vw;
}

.plus_one{
	position: relative;
	transform: translateY(-198.6vw);
	z-index: 3;
}

.plus_one span{
	font-size: 30vw;
	position: absolute;
	left: 13%;
}

.plus_one img{
	position: absolute;
	right: 25%;
	transform: scale(.9);
}

.wheel_img img{
	transform: translateX(12vw) translateY(49vw);
	transform-origin: center;
}

.master{
	transform: translateY(1vw)
}
.master span{
	font-size: 3.9vw;
	color: #fff;
	transform: translateY(-20%);
}

.cube{
	width: 24vw;
	height: 24vw;
}
.war, .numb, .story, .bird, .lady, .silent, .shine, .drak{
 opacity: 1;
 transform: scale(2);
}
.war{
 transform: translateX(52.4vw) scale(.77) translateY(-59.5vw);
 height: 70vw;}

.silent{
 transform: translateY(-187.4vw) scale(1.6) translateX(8vw);
}

.story{
 transform: translateY(-239.4vw) scale(1.65) translateX(8vw);
 height: 29.1vw;
}

.lady{
 transform: translateY(-36.8vw) scale(1.85) translateX(8vw);
 height: 25.1vw;
 z-index: 2;
}

.bird{
 transform: translateY(162vw) scale(1.8) translateX(36vw);
 height: 26.1vw;
}

.shine{
 transform: translateY(50vw);
}

.drak{
 z-index: 2;
 position: absolute;
 top: 224.3%;
 left: 7%;
 width: 42vw;
 height: 52vw;
}

.shine{
 transform: translateY(-290.7vw) scale(1.6) translateX(8vw);
 height: 31vw
}

.numb{
 z-index: 4;
 position: absolute;
 top: 170%;
 left: 8%;
 width: 42vw;
 height: 52vw;
}
.letter_l,
.letter_b,
.letter_a{
	opacity: 0;
	margin-left: 32px;
	margin-top: 0;
}

.third{
	background-color: #fcca2a;
	border: 1px solid #fff;
}

.fourth_line_two, .fourth_line_three, .fourth_line_four, .fourth_line_six, .fourth_line_seven{
	display: none;
}
.harry_potter_series1, .harry_potter_series2, .harry_potter_series3, .harry_potter_series4, .harry_potter_series5{
	transform: translateX(55vw) translateY(-49vw);
	z-index: 3;
}
}
